@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;  
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.input-container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
  color: #333;
}

.btn1 {
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  background-color: #4c9aff;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  width: 80px; 
  margin-left: 10px; 
}

.btn2 {
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  background-color: grey;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn3 {
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  background-color: grey;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn4 {
  padding:10px;
  font-size: 1rem;
  color: white;
  background-color: red;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}



.list{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 10px; 
}

input[type="checkbox"] {
  margin-right: 10px;
}



span {
  flex-grow: 1; 
  text-align: left; 
}

p {
  margin-left: 10px; 
  font-size: 0.9rem; 
  color: gray; 
}